/* Box Model Hack */
* {
  box-sizing: border-box;
}


/******************************************
/* BASE STYLES
/*******************************************/
header,main,section,footer,article{
  margin:0 15rem ;
}
.white{
  color:white;
}



/******************************************
/* LAYOUT
/*******************************************/
header,
nav {
  display: flex;

}
.greyBackground{
    background: #1F2937;
    height:50vh;
}
a{
  text-decoration: none;
  color:white;

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
