/* Box Model Hack */
* {
  box-sizing: border-box;
}


/******************************************
/* BASE STYLES
/*******************************************/
*{
  font-family: 'Roboto',sans-serif;
}
.margin{
  margin:0 15rem ;
}
.white, a{
  color:#F9FAF8;
}

.center{
  text-align: center;
}



/******************************************
/* LAYOUT
/*******************************************/
header,
nav {
  display: flex;
  justify-content: space-between;

}
.flex{
  display: flex;
}


.greyBackground{
    background: #1F2937;
    height:50vh;
}

a{
  text-decoration: none;

}

main{
  margin-top:3em;
}

footer {

}

/******************************************
/* HEADER AND HERO ADDITIONAL STYLES
/*******************************************/

.mainText{
  font-size: 48px;
  font-weight: 900;
}

.secondText, a, .logo{
  font-size: 24px;
}

.mainButton{
  padding:0.2rem 1rem;
  background: #3882F6;
  border:#3882F6;
}


button{
  cursor: pointer;
  border-radius: 0.5rem;
}

.logo{
  margin-top:0.5em;
}

/******************************************
/* 1st Section - additinal styles
/*******************************************/

.infoText{
  font-size: 36px;
  font-weight:900;
  color:#1F2937;
}

.border{
  border:5px solid #3882F6;
}

/******************************************
/* 2st Section - additinal styles
/*******************************************/

.lightGreyBackground{
  background: #E5E7EB;
  height:40vh;
}

.quote{
  font-size:36px;
  font-weight: 300;
  font-style: italic;
  color:#1F2937;
}

.centerMargin{
  padding:7rem;
}
.right{
  position: relative;
  left: 40em;
}

.thick{
  font-weight:bold;
  font-size: 20px;
}